body{
    min-height: 100vh;
    font-size: 15px;
    background-color: hsl(0, 0%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main{
    width: 650px;
    display: flex;
}

p{
    color: hsla(0, 0%, 100%, 0.75);
}
h1{
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
    margin: 20px 0 20px 0;
}
#box{
    margin: 20px 20px 30px 20px; 
}
#sedans{
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}
#SUVs{
    background-color: hsl(184, 100%, 22%);
}
#luxury{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}
button{
    border-radius: 100px;
    border-color: whitesmoke;
    height: 35px;
    width: 140px;
    cursor: pointer;
    margin-top: 30px;
}
button:hover{
    background: fixed;
    color: hsl(0, 0%, 95%);
}